# {description}
{fun_name} <- function({param_declaration}){{

  get_params <<- get_params <- match.call(expand.dots = FALSE) |>
    flatten_query_params()

  list(
    scheme = "https",
    hostname = glue::glue("bsky.social/xrpc/{endpoint}"),
    query = as.list(get_params)
  ) |>
    httr2::url_build() |>
    httr2::request() |>
    httr2::req_method("GET") |>
    httr2::req_auth_bearer_token(token = token$accessJwt) |>
    httr2::req_perform() |>
    httr2::resp_body_json()
}}
